 

th{
  background-color: rgb(189, 191, 194);
   
   font-weight: bold;
 }
body{
    margin: 15px;
}

.display-4{
    font-weight: bolder;
    text-align: center;
    color: rgb(206, 201, 201)!important;
}

/* .span{color:rgb(rgb(206, 201, 201)) !important;
} */
.lead{
  text-align:center;
  color: rgb(57, 44, 228)!important;
  animation-duration: 1000ms;
  animation-name: tgle;
  animation-iteration-count: infinite;
}

@keyframes tgle {
  0% {
    opacity: 0;
  }

  49.99% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  99.99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.border{
  border: black 3 px;
  /* padding: 5px; */
}

#train-input,#destination-input,#first-traintime-input,#frequency-min-input {
  border:1px solid rgb(126, 14, 126)
} 
#train-input[type=train-name]:focus {
  border: 3px solid  rgb(86, 26, 92);
}
form{
  background-color: rgb(189, 191, 194);
  padding: 5px;
  border:solid black 1px;
  margin-bottom: 50px;
}

h2{
  text-align:center
}
.col{
  background-color: rgb(189,191,194)
}
.btn-primary{
  color: whitesmoke;
  background-color: rgb(86, 26, 92);
  border-color: rgb(151, 83, 151)
}
footer{
  height: 50px;
  text-align:center;
  
}
.jumbotron-fluid{
  background: url(./nuchuchu.jpeg);
  color:rgb(rgb(206, 201, 201));
  background-size: 100% 100%;
}

tbody{
  width: 100%
}